<div ng-controller="borrowerController">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">

	</div>
	<div class="container marketing">
		<h1>List of Branches in LMS</h1>
		<div class="col-md-10">
			<ul class="pagination">
				<li class="page-item"><a class="page-link" href=""
					ng-click="pagination.prevPage()">&laquo;</a></li>
				<li class="page-item"
					ng-repeat="n in [] | range: pagination.numPages"
					ng-class="{active: n == pagination.page}"><a class="page-link"
					href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a></li>
				<li class="page-item"><a class="page-link" href=""
					ng-click="pagination.nextPage()">&raquo;</a></li>
			</ul>
		</div>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Branch Name</th>
					<th scope="col">Branch Address</th>
					<th scope="col">Enter Branch</th>
				</tr>
			</thead>
			<tbody>
				<tr
					ng-repeat="l in mybranchs | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
					<td>{{$index+1}}</td>
					<td>{{l.branchName}}</td>
					<td>{{l.branchAddress}}</td>
<!-- 					<td> -->
<!-- 						<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" -->
<!-- 							data-target="#enterBranchModal" ng-click="enterBranchModal(l)">Enter</button> -->
<!-- 					</td> -->
					<td>
						<button type="button" class="btn btn-primary btn-sm" ng-click="viewBooks(l)">Enter</button>
					</td>					
				</tr>
			</tbody>
		</table>
		<form>
			<a class="btn btn-danger" href="#/borrower" role="button">Go
				Back</a>
		</form>
	</div>

</div>